<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662256505132-kh5rv13mtqd3dvl93j1pankat8otra8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662256505132-kh5rv13mtqd3dvl93j1pankat8otra8k</string>
	<key>API_KEY</key>
	<string>AIzaSyCpnvsRTjKzxBWfbKO5ek_COj_akuJ8eVk</string>
	<key>GCM_SENDER_ID</key>
	<string>662256505132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gameTemplate</string>
	<key>PROJECT_ID</key>
	<string>rctutorial-b0840</string>
	<key>STORAGE_BUCKET</key>
	<string>rctutorial-b0840.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662256505132:ios:2a03a38f75b141611f9c89</string>
</dict>
</plist>